@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: block;
  background: #000;
  color: white;
  background-image: url(https://image-cdn.neatoshop.com/styleimg/23296/none/black/default/205746-20.jpg);
  background-repeat: no-repeat;
  background-position: 680px -40px;
  background-size: 260px;
  padding: 0 2rem;
  font-family: sans-serif;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 60px;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

/* Aside box */
sub {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 100px;
  padding: 1rem;
  background: #222;
  display: block;
  border: 1px solid #222;
  border-radius: .5rem;
}

/* Filters */
select {
  padding: .5rem;
  border: 0;
  margin-right: .5rem;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: .5rem;
}

.button, button {
  display: inline-block;
  padding: .5rem;
  border: 1px solid currentColor;
  background: transparent;
  color: #aaa;
  border-radius: .25rem;
  text-decoration: none;
  font-size: 1rem;
  transition: .25s color ease;
  text-align: center;
}

.button:hover, button:hover {
  color: #fff;
  cursor: pointer;
}

/* Tables */
#tables {
  overflow: auto;
}

table {
  color: white;
  border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #aaa;
}

th {
  margin: 0;
  border: 0;
  color: white;
  text-align: left;
  padding: .5rem;
  text-transform: capitalize;
}

td {
  margin: 0;
  border: 0;
  background: #222;
  color: white;
  padding: .5rem;
}

td.name, th.name {
  min-width: 200px;
}

a {
  color: #8fcddc;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  display: none;
  padding: 1rem;
}

.menu.open {
  display: block;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .button {
  width: 100%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.menu .button {
  margin-bottom: .25rem;
  display: block;
}

.menuTrigger {
  display: flex;
  position: relative;
  padding: 0;
  z-index: 1;
}

.menuTrigger svg {
  width: 30px;
  height: 30px;
}

header {
  display: flex;
}

header h1 {
  width: 100%;
}

header .menuTrigger {
  height: 31px;
  width: 31px;
  background: #111;
}

#mobileTables { display: none; overflow: auto; }
#mobileTables table { margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  #tables { display: none; }
  #mobileTables { display: block;  }
  #mobileTables table { width: 95%; }
  select { display: block; width: 100%; margin-top: 10px; margin-bottom: 10px;}
  .button, button { display: block; width: 100%; margin-top: 10px; margin-bottom: 10px;}
  h1 {
    font-size: 40px;
  }
  body {
    padding: 0 1rem;
  }
  sub {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    padding: 1rem;
    background: #222;
    display: block;
    border: 1px solid #222;
    border-radius: .5rem;
  }
  .menuTrigger {
    top: -11px;
    left: 17px;
  }
  .menu .button {
    max-width: 200px;
  }
}
